/* === Custom properties & reset website ===*/
:root {
    --white: rgb(255, 255, 255);
    --darkblue: rgb(12, 14, 24);
    --primaryColor: rgb(210, 216, 249);
    --subHeading: 1.75rem;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bellefair', serif;
    font-weight: 400;
}

/* === Headings === */
h1,h2,h3,h4,h5 {
    color: var(--white);
    text-transform: uppercase;
}
h1 {font-size: 2rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.4rem;}
h4 {font-size: 1.4rem;}
h5 {
    color: var(--primaryColor);
    font-size: 1.2rem;
}

/* === Globals === */
body {
    color: var(--white);
}

a {
    display: block;
    width: 100%;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    line-height: 1.4;
}

img {
    max-width: 100%;
}
/* === Utilities === */
.container {
    margin-inline: auto;
    width: 95%;
}

.lightGray {
    color: rgba(255, 255, 255, 25%);
}

.primaryBtn {
    width: 10rem;
    height: 10rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--white);
    outline: rgba(255, 255, 255, 0) solid 1rem;
    transition: all .2s ease-in-out;
}

.primaryBtn:hover {
    outline: rgba(255, 255, 255, .2) solid 2rem;
}

.subHeading {
    font-size: 1;
}

/* Hamburger */
.hamburger {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    z-index: 110;
}

input[id="hamburger"] {
    display: none;
}

input[id="hamburger"]:checked~.hamburger .line1 {
    transform: rotate(135deg) translateY(-8px) translateX(8px);
}

input[id="hamburger"]:checked~.hamburger .line2 {
    opacity: 0;
}

input[id="hamburger"]:checked~.hamburger .line3 {
    transform: rotate(-135deg) translateY(8px) translateX(7px);
}

.line {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--white);
    transition: .2s ease-in-out;
}

/* === BEM === */
/* Nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    padding: 1.8rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 6rem .5rem 0 .5rem;
    row-gap: 2rem;
    width: 75vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    list-style: none;
    transition: all ease-in-out .3s;
    counter-reset: li;
}

.navbar li {
    width: 100%;
    border-radius: 6px;
    text-transform: uppercase;
}

.navbar li:hover {
    background-color: rgba(255, 255, 255, .1);
}

.navbar a:before {
    counter-increment: li decimal 0;
    content: counter(decimal) '' counter(li) '';
    font-weight: bold;
    font-size: 1.6rem;
    padding-right: 1rem;
}

/* Main */
.main {
    padding-top: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-size: 100% 100%;
    text-align: center;
}