/* Custom properties & reset website*/
:root {
    --white: rgb(255, 255, 255);
    --darkblue: rgb(12, 14, 24);
    --primaryColor: rgb(210, 216, 249);
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bellefair', serif;
}

/* Headings */
h1 {
    font-size: 9.375rem;
}
h2 {
    font-size: 6.25rem;
    margin-block: 2rem;
    text-transform: uppercase;
}
h3 {font-size: 3.5rem;}
h4 {font-size: 2rem;}
h5 {
    color: var(--primaryColor);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: normal;
    /* letter-spacing: 4.75px; */
}

/* Globals */
html {
    background-image: url(assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    color: var(--white);
}
html, body {
    min-width: 100vw;
    min-height: 100vh;
}
p {
    font-size: 1.56rem;
    line-height: 1.4;
}
/* Utilities */
.container {
    margin-inline: auto;
    width: 95%;
}
.primaryBtn {
    width: 10rem;
    height: 10rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--white);
    outline: rgba(255, 255, 255, 0) solid 1rem;
    transition: all .2s ease-in-out;
}
.primaryBtn:hover {
    outline: rgba(255, 255, 255, .2) solid 2rem;
}
/* BEM */
/* Nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    padding: 1.8rem;
}
.navbar {display: none;}

/* Hamburger */
.hamburger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
input[id="hamburger"] {
    display: none;
}
input[id="hamburger"]:checked ~ .hamburger .line1{
    transform: rotate(135deg) translateY(-8px) translateX(8px);
}
input[id="hamburger"]:checked ~ .hamburger .line2{
    transform: rotate(-90deg) translateX(-20px);
    opacity: 0;
}
input[id="hamburger"]:checked ~ .hamburger .line3{
    transform: rotate(-135deg) translateY(8px) translateX(7px);
}
.line {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--white);
    transition: .2s ease-in-out;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding-top: 4rem;
}
.main__header p{
    color: var(--primaryColor)
}