/* === Utilities === */
.lightGray {
    color: rgba(255, 255, 255, 25%);
    font-weight: bold;
}

/* == BEM === */
/* Main */
.main {
    justify-content: start;
    padding-top: 8rem;
    background-image: url('../assets/destination/background-destination-mobile.jpg');
    row-gap: 2rem;
}
.main h4 {
    text-transform: uppercase;
}

/* Planet */
.planetImg {
    max-width: 50vw;
}

/* Planet list */
.planets {
    list-style: none;
}