.main {
    background-image: url('../assets/technology/background-technology-mobile.jpg');
}

.main h1 {
    padding-block: 1rem;
}
/* Crew header */
.tech__header {
    display: flex;
    align-items: baseline;
    column-gap: 50vw;
    max-width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.tech__header img {
    margin-block: 2rem;
}
.tech__header article {
    min-width: 100vw;
    padding-inline: 2rem;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.tech__header h3,
.tech__header h2 {
    padding-block: .4rem;
}

/* Crew list */
.tech__bullets {
    display: flex;
    justify-content: center;
    column-gap: 1.4rem;
    list-style-type: none;
    margin-block: 2rem;
}

.tech__bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    color: gray;
    border: 1px solid gray;
}

.tech__bullet.active {
    color: var(--white);
    border-color: var(--white);
    transition: ease-in-out .4s all;
}